body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  margin: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #22c55e;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

#mensaje {
  margin-top: 10px;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #1e293b;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background: #ef4444;
}

li button:hover {
  background: #dc2626;
}
